body{
  background-color: #5d5871;
}
header,h1{
  font-family: fantasy;
  padding: 20px;
  position: relative;
  color: white;
  border-bottom: solid 2px #cfcbf7;
}
.logo{
  height: 100px;
  font-family: cursive;
  color: #a3a3ec;
  background-color: #393131;
  text-align: center;
  font-size: 50px;
}
.row h4 {
  color: #cab9ed;
}
.clubimg img{
  width: 300px;
  height: 300px;
  border-radius: 40px;
  
}
.clubimg img:hover{
  width: 310px;
  height: 310px;
  border-radius: 25px;
}
.club{
  margin-top: 30px;
}
.clubInfo{
  background-color: #554f63;
  padding: 20px;
  background-color: #554f63;
  color: white;
  height: 300px;
}
a{
  color: #9189e1;
  text-decoration: none;
}
a:hover{
  color: #cab9ed;
  text-decoration: none;
}

.postBtn {
  background-color: #cab9ed;
  color: #3e43d0;
}
.postBtn:hover {
  color: #b2b4e9;
  background-color: #502d97;
}
footer{
  background-color: darkgray;
  margin-top: 20px;
}
@media (max-width: 768px){
  
} 
@media (max-width: 992px) {
  
}
@media (max-width: 1200px) {
  
}