body{
  background-color: #5d5871;
}
header,h1{
  font-family: fantasy;
  padding: 20px;
  position: relative;
  color: white;
}
.logo{
  height: 100px;
  font-family: cursive;
  color: #a3a3ec;
  background-color: #393131;
  text-align: center;
  font-size: 50px;
}
.clubimg img{
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}
.club{
  align-items: center;
}
.clubInfo{
  background-color: #554f63;
  padding: 10px;
  color: white;
  height: 280px;
}
footer{
  background-color: darkgray;
}